@import url(https://fonts.googleapis.com/css?family=VT323);

html{
	font-family: 'VT323', monospace ;
}
.pageContainer{
    font-family: monospace;
    background-color: black;
    color: aquamarine;
}
.calcNumpad{
display:flex;
flex-direction: row;
justify-content: flex-start;
}
.numbtn{
    background-color: black;
    color: aquamarine;
    font-family: 'VT323', monospace ;

    background: #7C7C7C;
	border-bottom: 6px inset rgba(0,0,0,.5);
	border-left: 6px inset rgba(0,0,0,.5);
	border-right: 6px inset rgba(255,255,255,.5);
	border-top: 6px inset rgba(255,255,255,.5);
	box-sizing: border-box;
	color: white;
	cursor: pointer;
	display: inline-block;
	font-size: 2.2rem;
	margin: 1rem;
	min-width: 200px;
	padding: .5rem;
	text-transform: uppercase;
	width: auto;
	

}
.numbtn:hover{
    background: #BCBCBC;

}


.toprow{
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
}

.midrow{
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
}

.botrow{
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
}

.zerorow{

}