@import url(https://fonts.googleapis.com/css?family=VT323);

html{
	font-family: 'VT323', monospace ;
/*     background: url("/background_mickhaupt.jpg");
    background-size: 100%;
    background-blend-mode:hard-light;
    background-color: #0fa;
*/ 
background-color: #051314;
}
.pageContainer{
    font-family: monospace;
    color: aquamarine;
    display: flex;
    justify-content: center;
    align-items:stretch;
    padding: 0; 
    margin: 0; 
    height: 100%
}



.calcContainer{
    margin-top: 10rem;
    display: grid;
border: double 5px black;
border-radius: 30px;
background-image: linear-gradient(45deg,#29524A, #E9BCB7) 1;
background-color: linear-gradient(45deg,#29524A, #E9BCB7) 1;
background-origin: border-box;
background-clip: content-box, border-box;
box-shadow:
  inset 0 0 50px #fff,      /* inner white */
  inset 20px 0 80px #f0f,   /* inner left magenta short */
  inset -20px 0 80px #0ff,  /* inner right cyan short */
  inset 20px 0 300px #f0f,  /* inner left magenta broad */
  inset -20px 0 300px #0ff, /* inner right cyan broad */
  0 0 50px #fff,            /* outer white */
  -10px 0 80px #f0f,        /* outer left magenta */
  10px 0 80px #0ff;         /* outer right cyan */
}

.calcContainer::after {
    position: absolute;
    top: -4px; bottom: -4px;
    left: -4px; right: -4px;
    background: linear-gradient(#29524A, #E9BCB7);
    content: '';
    z-index: -1;
    border-radius: 16px;

}

.calcScreen{
    display:flex;
    border-style: ridge;
    border-radius: 10%;
    width: 20em;
    height: 50px;
    background-color: #BCBCBC;
    padding-left: 1em;
    margin: 1rem;
    margin-top: 1rem;;
    justify-content: space-between;
}
.operationScreen{
    display:table;
    font-size: 2rem;
    font-family: 'VT323', monospace ;
    color:aquamarine;
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: black;
    flex-grow: 0;
    max-width: 15rem;
    width: 10rem; 
}

.resultScreen{
    font-size: 2.2rem;
    font-family: 'VT323', monospace ;
    color:rgb(31, 63, 52) ;
    padding-right: 1rem;
}
.calcNumpad{
    display: grid;
    grid-template-columns: repeat(4, 70px);
    grid-template-rows: repeat(4, auto);
    justify-items: stretch;
    justify-content: center;
}

.toprow{
    flex: 0 0 auto;
    flex-direction: row;
}

.midrow{
    flex: 0 0 auto;
}

.botrow{
    flex: 0 0 auto;
}

.zerorow{
    flex: 0 0 auto;
}


.numbtn, .clearBtn, .equalsBtn, .operatorBtn {
    color: aquamarine;
    font-family: 'VT323', monospace ;

    background: #7C7C7C;
	border-bottom: 6px inset rgba(0,0,0,.5);
	border-left: 6px inset rgba(0,0,0,.5);
	border-right: 6px inset rgba(255,255,255,.5);
	border-top: 6px inset rgba(255,255,255,.5);
	box-sizing: border-box;
	cursor: crosshair;
	display: inline-block;
	font-size: 2.2rem;
	margin: 1rem;
/* 	min-width: 200px;
 */	padding: .5rem;
	text-transform: uppercase;
	width: auto;
    max-width: 3rem;
    min-width: 1rem;;
	color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;

}

.numbtn:hover{
    background: #BCBCBC;

}
.operatorBtn, .clearBtn, .equalsBtn{
    background: rgb(5, 95, 131);
}
